<!DOCTYPE html>
<html>
<head>
  <title>BootSaaS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Custom Fonts -->
  <!--link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <%= render 'layouts/shim' %>
  <%= render 'layouts/analytics' %>
</head>
<body>
  <%= render 'layouts/app_navbar' %>
  <div class="container container-dashboard">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <%= render 'layouts/app_aside' %>
      </div>
      <div class="col-sm-9 col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
