<!DOCTYPE html>
<html lang="en">
<head>
    <title>BootSaaS</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BootSaaS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <%= link_to "Sign Up", new_user_registration_path, class: "page-scroll" %>
                    </li>
                    <li>
                        <%= link_to "Sign In", new_user_session_path, class: "page-scroll" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>BootSaaS</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary padded" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">A catchy strapline here</h2>
                    <hr class="light">
                    <p class="text-faded">Explain what problem the SaaS aims to solve and how it works</p>
                    <%= link_to "Get Started!", new_user_registration_path, class: "btn btn-default btn-xl" %>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="padded">
      <!-- At your service -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>

      </div>
        <div class="row top-buffer">
          <div class="col-lg-6">
            <h1 class="featurette-heading">Feature title goes here</h1>
            <p class="featurette-text text-muted">Explain what the feature is and how it benefits the user here</p></div>
          <div class="col-lg-6"><img src="http://placehold.it/500x300"></div>
        </div>

        <div class="row top-buffer">
          <div class="col-lg-6"><img src="http://placehold.it/500x300"></div>
          <div class="col-lg-6">
            <h1 class="featurette-heading">Feature title goes here</h1>
            <p class="featurette-text text-muted">Explain what the feature is and how it benefits the user here</p></div>
        </div>

        <div class="row top-buffer">
          <div class="col-lg-6">
            <h1 class="featurette-heading">Feature title goes here</h1>
            <p class="featurette-text text-muted">Explain what the feature is and how it benefits the user here</p></div>
          <div class="col-lg-6"><img src="http://placehold.it/500x300"></div>
        </div>

        <div class="row top-buffer">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Get started now!</h2>
            <hr class="primary">
            <%= link_to "Get Started!", new_user_registration_path, class: "btn btn-danger btn-xl" %>
          </div>

        </div>

      </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Join our newsletter!</h2>
                <form action="" method="post">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="text" id="" name="" placeholder="your@email.com">
                  </div><br>
                  <input type="submit" value="Subscribe Now!" class="btn btn-default btn-xl wow tada" />
                </form>
            </div>
        </div>
    </aside>

    <section id="contact" class="bg-primary padded">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-12 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
