<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>A catchy strapline here</h1>
          <h3>Explain what your product does and<br> how it benefits your users here</h3>
          <h3>Try it now, it's free!</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li><%= link_to 'Sign Up', pricing_path, class: "btn btn-success btn-lg" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a  name="howitworks"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Attractive features described below</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel eros nec ipsum viverra lacinia. In ante nibh, faucibus ut mollis eget, maximus in ex. </p><p class="lead">Morbi vitae mauris vehicula, sollicitudin arcu non, ornare nulla. In maximus pretium metus non dapibus. Proin vestibulum lacus at euismod sagittis. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'ipad.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">More features</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel eros nec ipsum viverra lacinia. In ante nibh, faucibus ut mollis eget, maximus in ex. </p><p class="lead">Morbi vitae mauris vehicula, sollicitudin arcu non, ornare nulla. In maximus pretium metus non dapibus. Proin vestibulum lacus at euismod sagittis. </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'dog.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Even more features</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel eros nec ipsum viverra lacinia. In ante nibh, faucibus ut mollis eget, maximus in ex. </p><p class="lead">Morbi vitae mauris vehicula, sollicitudin arcu non, ornare nulla. In maximus pretium metus non dapibus. Proin vestibulum lacus at euismod sagittis. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'phones.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <h2>Stay in the know</h2>
          <h4>We don't spam or share your email, just great updates and news about the cool things we're working on for you</h4>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
            <%= render 'layouts/mailchimp' %>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->